@media print {
  body {
    .deudores {
      visibility: visible;
      position: absolute;
      height: 100%;
      overflow: hidden;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      background: #fff !important;
      color: #000;
      .ant-dropdown-trigger {
        display: none;
      }
      .ant-table-cell {
        border: none;
      }
      /*       @page {
        size: A4 landscape;
        margin: 0.5cm;
      }
 */
    }
  }
}
