@media print {
  body {
    .deudores {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
      .ant-dropdown-trigger {
        display: none;
      }
      .ant-table-cell {
        border: none;
      }
    }
  }
}
