@media print {
  body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
    font-size: 12pt;
    .deudores {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  @page {
    size: landscape;
    margin: 0.5cm;
  }
}
