.presupuesto {
  font-size: 9pt;
  color: #000;

  .remito {
    display: flex;
    flex-direction: row;
    .header-left {
      position: relative;
      width: 70%;
      padding: 10px;
      .logo {
        background-image: url(../../../LOGOCHICO.JPG);
        background-repeat: no-repeat;
        background-position-x: left;
        background-size: contain;
        margin: 0;
      }
      .document-name {
        position: absolute;
        top: 60px;
        left: 360px;
        text-align: center;
        .document-name-header {
          font-size: 1.3em;
          font-weight: 700;
        }
      }
    }
    .header-right {
      width: 30%;
      .sub-header-top {
        border-left: none;
        border-bottom: none;
        height: 50%;
        .sub-header-top-row {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
      }
      .sub-header-bottom {
        border-left: none;
        height: 50%;
        .sub-header-bottom-row {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          .label {
            font-size: 0.9em;
          }
        }
      }
    }
  }
  .cliente {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0;
    .cliente-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      .cliente-left-row {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
      }
    }

    .cliente-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      .cliente-right-row {
        display: flex;
        flex-direction: row;
        height: 22px;
        white-space: nowrap;
      }
    }
  }

  .others {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0;
    .others-left {
      border-right: 1px solid #000;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .others-left-row {
        display: flex;
        flex-direction: row;
      }
    }

    .others-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      .others-right-row {
        display: flex;
        flex-direction: row;
        height: 22px;
      }
    }
  }
  .productos {
    border-top: 0;
    padding-top: 20px;
    table {
      margin-bottom: 10px;
      thead {
        tr {
          th {
            border-bottom: 1px solid #000;
            font-weight: bold;
            padding: 6px 14px;
          }
        }
      }
      tbody {
        tr {
          td {
            font-family: "Courier New", Courier, monospace;
            padding: 6px 14px;
          }
        }
      }
      tfoot {
        font-family: Roboto;
        border-top: 1px solid #000;
        td {
          padding: 6px 14px;
        }
      }
    }
  }
  .total {
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .total-top {
      width: 280px;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #000;
      .label {
        width: 200px;
        white-space: nowrap;
      }
      .value {
        text-align: right;
        font-weight: 600;
      }
    }
    .total-bottom {
      width: 280px;
      display: flex;
      flex-direction: row;
      .label {
        width: 200px;
      }
      .value {
        text-align: right;
        font-size: 1.2em;
        font-weight: 600;
      }
    }
  }
}

.border {
  border: 1px solid #000;
}

.bold {
  font-weight: 700;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.courier {
  font-family: "Courier New", Courier, monospace !important;
  font-size: 1.1em;
}

.label {
  font-weight: 600;
  padding: 2px;
  text-align: right;
  width: 110px;
  &::after {
    content: ":";
  }
}

.value {
  padding: 2px;
  width: 50%;
  font-family: "Courier New", Courier, monospace;
}
