.invoice-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.invoice-row {
  display: flex;
  align-items: center;
}

.invoice-row .field-name {
  text-align: right;
  margin-right: 6px;
  width: 80px;
}

.invoice-row .field-value  {
  font-weight: bold;
  text-transform: uppercase;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.container {
  background-color: #fff;
}
