.sales-by-product {
  .producto-container {
    display: flex;
    justify-content: space-between;

    .form-container {
      flex-basis: 50%;
    }

    .details-container {
      border: 1px solid #dadada;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      width: 400px;
      height: 170px;
      padding: 20px;
      .detail-row {
        display: flex;
        flex-direction: row;
        line-height: 2rem;
        .detail-label {
          width: 70px;
          margin-right: 10px;
          text-align: right;
        }
        .detail-value {
          font-size: 1.1rem;
          font-family: monospace;
          font-weight: 600;
        }
      }
    }
  }
}

@media print {
  .sales-by-product {
    visibility: visible;
    position: absolute;
    height: fit-content;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: #fff !important;
    color: #000;

    .ant-page-header-back,
    .form-container {
      display: none;
    }

    .details-container {
      border: none !important;
    }

    .ant-table {
      table {
        width: auto;

        .ant-dropdown-trigger {
          display: none;
        }

        .ant-table-cell {
          border: none;
        }
      }
    }
  }
}
