.info-row {
  background-color: #fff;
  max-width: 70%;
}

.info-label,
.info-row {
  margin: 2px 6px;
  padding: 4px;
}
.info-label {
  display: inline-block;
  width: 130px;
  text-align: right;
}
.info-label::after {
  content: ":";
}
.info-value {
  display: inline-block;
  font-weight: 600;
}
