.logo {
  height: 32px;
  margin: 16px;
  background-image: url(./logo23.JPG);
  background-repeat: no-repeat;
  background-position: center center;
}

.site-layout .site-layout-background {
  background: #fff;
}
