$print-font: 'Inconsolata', monospace;

.invoice {
  margin: 0;
  padding: 0;
  width: 21cm;
  height: 22cm;
  background-color: rgb(219, 210, 198);
  position: absolute;
}

.invoice .invoice-number {
  position: absolute;
  top: 1.5cm;
  left: 3.5cm;
}

.invoice .date {
  position: absolute;
  top: 2.5cm;
  left: 15cm;
}

.invoice .client-name {
  position: absolute;
  top: 4.6cm;
  left: 3cm;
}

.invoice .client-cuit {
  position: absolute;
  top: 4.7cm;
  left: 12.5cm;
}

.invoice .client-address {
  position: absolute;
  top: 5.6cm;
  left: 3cm;
}

.invoice .client-phone {
  position: absolute;
  top: 5.5cm;
  left: 12.5cm;
}

.invoice .client-city {
  position: absolute;
  top: 6.5cm;
  left: 3cm;
}

.invoice .client-state {
  position: absolute;
  top: 7cm;
  left: 3cm;
}

.invoice .remito {
  position: absolute;
  top: 6.6cm;
  left: 12.5cm;
}

.invoice .client-resp {
  position: absolute;
  top: 7.3cm;
  left: 18.5cm;
}

.invoice .items-list {
  position: absolute;
  top: 9cm;
  left: 0cm;
  width: 100%;
  height: 8cm;
}

.invoice .table {
  position: absolute;
  top: 9cm;
  left: 0.5cm;
}

.invoice .table .table-row .item-quantity {
  width: 1.7cm;
}

.invoice .table-row .item-code {
  width: 1cm;
}

.invoice .table-row .item-description {
  width: 10cm;
}

.invoice .table-row .item-price {
  width: 2.3cm;
  text-align: right;
}

.invoice .table-row .item-total {
  width: 3cm;
  text-align: right;
}

.invoice .subtotal1 {
  position: absolute;
  top: 17.3cm;
  left: 16.3cm;
}

.invoice .subtotal2 {
  position: absolute;
  top: 19.5cm;
  left: 1cm;
}

.invoice .subtotal3 {
  position: absolute;
  top: 19.5cm;
  left: 7.4cm;
}

.invoice .iva1 {
  position: absolute;
  top: 19.5cm;
  left: 10.9cm;
}

.invoice .iva2 {
  position: absolute;
  top: 19.5cm;
  left: 13.9cm;
}

.invoice .total {
  position: absolute;
  top: 19.5cm;
  left: 17.6cm;
  font-weight: bold;
}

@media print {
  body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;

    .invoice {
      visibility: visible;
      position: absolute;
      height: 100%;
      overflow: hidden;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      background: #fff !important;
      color: #000;
      /*       @page {
        size: A4 portrait;
        margin: 0.5cm;
      }
 */
    }
  }
}
